# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyc

# Reports (ignore files but keep folder structure)
reports/*
!reports/.gitkeep

# macOS / Windows system files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
